<ion-list class="popover-locale">

  <ion-item text-wrap *ngFor="let item of locales_default" (click)="onclick_selectLocale(item)">
    {{ jsonLocales[item].name }}
    <br>
    <span>{{ jsonLocales[item].short }}</span>
    <ion-icon name="{{ setting.locale==item?'checkmark-circle':'checkmark-circle-outline' }}" item-right></ion-icon>
  </ion-item>

</ion-list>
<button ion-button outline full text-wrap (click)="toggleHidePopover()">Hide this Popup</button>
