<ion-header>
  <navBar
    #navBar
    [title]="searchText"
    [hasPopLocale]="true"
    [hasPopHistory]="true"
    [hasReturn]="false"
    [hasSearchTitle]="true"
    (onSearch)="onSearch($event)"
  ></navBar>
</ion-header>

<ion-content #skinContent no-padding class="sentences">

  <ion-list>

    <ion-item text-wrap *ngFor="let item of items; let i = index;">
      <ion-note item-left class="item-number">{{ i + 1 }}</ion-note>
      <ion-label (click)="speak(item)" [innerHTML]="item"></ion-label>
      <ion-icon item-right name="pulse" class="icon-natural-tts"
                (click)="speak(item, true)"></ion-icon>
    </ion-item>

    <button ion-button full color="light"
            [hidden]="loadMoreStatus[1] == SHOW_LOAD_MORE_NO"
            (click)="searchSentences(true)">
      <ion-icon color="blacklight" name="arrow-down"></ion-icon>
    </button>

  </ion-list>

</ion-content>
