<ion-list class="popover-history">

  <ion-list-header>
    History
    <button ion-button outline item-right (click)="onclick_history()">Full</button>
  </ion-list-header>

  <ion-item *ngFor="let item of items" (click)="onclick_word(item)">
    <ion-label>{{ item.word }}</ion-label>
    <span color="primary" item-right class="italic" [hidden]="!isIPA_display">{{ item.ipa[setting.locale] }}</span>
  </ion-item>

</ion-list>
