
<ion-header>
  <ion-navbar color="blacklight" class="my-navbar">
    <ion-title>
      History
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content #skinContent padding class="tab-history">

  <ion-list>

    <ion-row>
      <ion-col width-50>
        <button ion-button color="danger" outline block (click)="onclick_clearAll($event)">Clear All</button>
      </ion-col>
      <ion-col text-right>
        <button ion-button color="favorite" outline (click)="onclick_popoverLocale($event)">{{ setting.locale }}</button>
      </ion-col>
    </ion-row>

    <ion-item *ngFor="let item of items; let i = index;">
      <ion-note item-left (click)="onclick_toggleBookmark(item)" [hidden]="item.isBookmarked">{{ i + 1 }}</ion-note>
      <ion-note item-left (click)="onclick_toggleBookmark(item)" [hidden]="!item.isBookmarked">
        <ion-icon color="bookmarked" name="heart"></ion-icon>
      </ion-note>
      <ion-label (click)="onclick_word(item)">{{ item.word }}</ion-label>
      <span color="reddark" item-right class="italic" [hidden]="!isIPA_display" (click)="onclick_word(item)">{{ item.ipa[setting.locale] }}</span>
    </ion-item>

  </ion-list>

</ion-content>
