.popover-control {

  margin-left: .5px;
  margin-right: 1px;

  .custom-row {

    border-bottom: solid 1px #c8c7cc;

    ion-col {

      &:first-child {
        border-right: solid 1px #c8c7cc;
      }

    }

    .text-button {

      height: 4rem;
      margin: 0;

    }

    .text-smaller {
      font-size: 1.4rem;
    }

    .text-larger {
      font-size: 1.8rem;
    }

  }

  .row-dots {
    text-align: center;

    .dot {
      border: 1px solid #c8c7cc;
      border-radius: 50%;
      height: 3rem;
      margin: .8rem auto;
      padding: 0;
      position: relative;
      width: 3rem;
    }

    .dot-white {
      background-color: rgb(255,255,255);
    }

    .dot-tan {
      background-color: rgb(249,241,228);
    }

    .dot-grey {
      background-color: rgb(76,75,80);
    }

    .dot-black {
      background-color: rgb(0,0,0);
    }

    .dot.selected {
      border-width: .2rem;
      border-color: #327eff;
    }
  }
}
