<ion-list class="popover-control">
  <ion-row class="row-dots">
    <ion-col>
      <button ion-button (click)="changeBackground('white')" category="dot" class="dot dot-white" [class.selected]="background == 'white'"></button>
    </ion-col>
    <ion-col>
      <button ion-button (click)="changeBackground('tan')" category="dot" class="dot dot-tan" [class.selected]="background == 'tan'"></button>
    </ion-col>
    <ion-col>
      <button ion-button (click)="changeBackground('grey')" category="dot" class="dot dot-grey" [class.selected]="background == 'grey'"></button>
    </ion-col>
    <ion-col>
      <button ion-button (click)="changeBackground('black')" category="dot" class="dot dot-black" [class.selected]="background == 'black'"></button>
    </ion-col>
  </ion-row>
  <ion-list-header>
    <ion-label>Size of text</ion-label>
    <ion-note item-right>{{ fontsize }}</ion-note>
  </ion-list-header>
  <ion-row class="custom-row">
    <ion-col no-padding>
      <button ion-button clear full (click)="onclick_fontDecrease()" class="text-button text-smaller" [disabled]="fontsize < 30">
        <ion-label>A -</ion-label>
      </button>
    </ion-col>
    <ion-col no-padding>
      <button ion-button clear full (click)="onclick_fontIncrease()" class="text-button text-larger" [disabled]="fontsize > 300">
        <ion-label>A +</ion-label>
      </button>
    </ion-col>
  </ion-row>
  <ion-list-header>
    <ion-label>Speed of speaking</ion-label>
    <ion-note item-right>{{ speed }}</ion-note>
  </ion-list-header>
  <ion-row class="custom-row">
    <ion-col no-padding>
      <button ion-button clear full (click)="onclick_speedDecrease()" class="text-button" [disabled]="speed < 0.6">
        <ion-icon name="walk"> -</ion-icon>
      </button>
    </ion-col>
    <ion-col no-padding>
      <button ion-button clear full (click)="onclick_speedIncrease()" class="text-button" [disabled]="speed > 8.9">
        <ion-icon name="bicycle"> +</ion-icon>
      </button>
    </ion-col>
  </ion-row>

  <ion-item text-wrap (click)="onclick_dualTranscript()">
    <span>Display US & UK (GB) transcripts</span>
    <ion-icon name="{{ isDualTranscript ? 'checkmark-circle' : 'checkmark-circle-outline' }}" item-right></ion-icon>
  </ion-item>
</ion-list>
