<ion-header>
  <navBar
    #navBar
    [title]="word.word"
    [hasPopLocale]="true"
    [hasPopHistory]="true"
    [hasReturn]="false"
  ></navBar>
</ion-header>

<ion-content #skinContent no-padding class="word-detail">

  <ion-item text-wrap>
    <ion-label color="primary" class="ipa" (click)="onclick_word(word.word, 'US')">
      <ion-note padding-right>US</ion-note>
      {{ word.ipa.US }}
    </ion-label>
    <ion-icon name="pulse" item-right color="favorite" (click)="onclick_word_natural(word.word, 'US')"></ion-icon>
  </ion-item>

  <ion-item text-wrap>
    <ion-label color="primary" class="ipa" (click)="onclick_word(word.word, 'GB')">
      <ion-note padding-right>GB</ion-note>
      {{ word.ipa.GB }}
    </ion-label>
    <ion-icon name="pulse" item-right color="favorite" (click)="onclick_word_natural(word.word, 'GB')"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-label color="blacklight" class="word-type">
      {{word.typeLabel}}
    </ion-label>
    <ion-note item-right (click)="isExpanded=!isExpanded">
      {{ word.means && word.means.length > 1 ? word.means.length + " meanings" : "1 meaning" }}
      <ion-icon name="{{isExpanded ? 'remove-circle' : 'add-circle'}}"></ion-icon>
    </ion-note>
  </ion-item>

  <!-- Means of WORD -->

  <ion-list>
    <ion-item text-wrap *ngFor="let mean of word.means; let i = index;">

      <div class="ref-usage">
        <ion-note [hidden]="word.means.length < 2" class="item-number">mean {{i +1}}</ion-note>
        <button
          *ngFor="let ref of word.refs | filter: {meanOrder: mean.meanOrder}"
          ion-button outline color="{{ref.pageType==10 ? 'light' : 'favorite'}}"
          (click)="goToRef(ref)">
          {{ref.page}}
        </button>
        <ion-note class="item-usage">
          {{mean.usageKeyArr.length}} {{mean.usageKeyArr.length > 1?"usages":"usage"}}
        </ion-note>
      </div>

      <div class="meaning">{{mean.meaning}}</div>

      <div padding-left [hidden]="!isExpanded" class="usage-block">
        <div *ngFor="let usage of mean.usageKeyArr">
          <ion-note>used as <span class="usage pl-d5">{{usage}}</span></ion-note>
          <button
            *ngFor="let ref of word.refs | filter: {meanOrder: mean.meanOrder, usageOrder: mean.usages[usage].usageOrder}"
            ion-button outline color="{{ref.pageType==10 ? 'light' : 'favorite'}}"
            (click)="goToRef(ref)">
            {{ref.page}}
          </button>
          <div>
            <div *ngFor="let wordExp of mean.usages[usage].exps; let j = index;">
              <div *ngIf="wordExp.exp" class="explanation">
                <ion-note>mean {{mean.usages[usage].exps.length > 1 ? j + 1 : ''}}</ion-note>
                <span class="pl-d5">{{wordExp.exp}}</span>
              </div>
              <div *ngIf="wordExp.sentence" class="sentence" (click)="onclick_sentence(wordExp.sentence)">
                <ion-note>ex.</ion-note>
                {{wordExp.sentence}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab mini class="btn-bookmark"
            [class.active]="word.isBookmarked" (click)="onclick_toggleBookmark()">
      <ion-icon color="favorite" name="heart"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
