.word-detail {

  ion-item {
    background-color: inherit;
    color: inherit;
  }

  .ipa {
    font-size: 1.6rem;
    font-style: italic;
  }

  .word-type {
    font-weight: 900;
    text-transform: uppercase;
  }

  .ref-usage {
    .item-number {
      font-size: 1.2rem;
      color: rgba(212, 119, 108, 0.67);
    }
    button {
      margin-top: 0;
    }
    .item-usage {
      float: right;
    }
  }

  .meaning {
    color: #ff4141;
    font-size: 1.7rem;
    font-weight: 700;
  }

  .usage-block {

    > div {
      padding-top: .7rem;
      padding-bottom: .7rem;
      border-bottom: dashed 1px #d9d9d9;

      &:last-child {
        border: none;
      }
    }

    .usage {
      color: rgba(0, 103, 25, 0.77);
      font-size: 1.5rem;
      font-weight: 700;
    }

    .explanation {
      color: rgba(12, 104, 247, 0.85);
      padding-top: 1rem;
    }

    .sentence {
      font-style: italic;
      color: #616161;
    }
  }

  .btn-bookmark {
    background-color: transparent;
    border: solid 1px gray;
    opacity: .5;

    &.active {
      opacity: .9;

      ion-icon {
        color: red !important;
      }
    }
  }
}
