.homepage {

  ion-item {
    background-color: inherit;
    color: inherit;

    .item-inner {
      margin-left: .5rem !important;
    }
  }

  .btn-tts-textarea {
    text-align: right;

    .item-inner {
      border: none;
    }

    ion-label {
      margin: 0;

      button {
        height: 3rem;
        width: 3rem;

        &:first-child {
          float: left;
          width: 3rem;
        }
      }
    }
  }

  .item-number {
    font-size: 1.2rem;
  }

  .icon-natural-tts {
    color: #929292;
    font-size: 2rem;
  }

  .ipa {
    color: rgba(12, 96, 238, 0.6);
  }
  .ipa2 {
    color: rgba(12, 96, 238, 0.45);
  }

  .word-type {
    color: #616161;
  }
  .icon-word-detail {
    padding-left: .5rem;
    color: rgba(101, 159, 208, 0.4);
  }

  .second-item {
    padding-left: 4rem;
    padding-right: 3rem;
  }

  .btn-tts {
    opacity: .4;
    ion-icon {
      color: #ffffff;
    }

    &.active {
      opacity: .9;
    }
  }
}
