<ion-header>
  <navBar
    #navBar
    [hasPopLocale]="true"
    [hasPopControl]="true"
    [hasPopHistory]="true"
    [hasReturn]="false"
    [hasSearch]="true"
    (onSearch)="onSearch($event)"
  ></navBar>
</ion-header>

<ion-content #skinContent no-padding class="homepage">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list no-border>

    <ion-item text-wrap [hidden]="isDictReady" (click)="onclick_resetup()">
      <ion-label>There is no dictionary copied to your device. Please <strong>TAP HERE</strong> to try to Allow the application to copy the needed dictionaries to your device again.</ion-label>
    </ion-item>
    <ion-item text-wrap [hidden]="isDictReady" (click)="onclick_tts_text()">
      <ion-note>You may see this text if your Internet Connection is not working correctly. Please:
        <ul>
          <li>keep waiting (longer than usual)</li>
          <li>or make sure that you can connect to the internet</li>
          <li>or simply disable the wifi on your mobile phone to continue...</li>
        </ul>
      </ion-note>
    </ion-item>

    <ion-item [hidden]="!isTTS_visible" class="btn-tts-textarea">
      <button ion-button color="favorite" round outline (click)="tts_text">
        <ion-icon name="close"></ion-icon>
      </button>
      <button ion-button color="favorite" round outline (click)="onclick_tts_human('GB')">
        UK
      </button>
      <button ion-button color="favorite" round outline (click)="onclick_tts_human('US')">
        US
      </button>
      <button ion-button color="favorite" round (click)="onclick_tts_text()">
        <ion-icon name="volume-up"></ion-icon>
      </button>
    </ion-item>
    <ion-item [hidden]="!isTTS_visible">
      <ion-textarea rows="4" placeholder="Input your text here and tap the right buttons..." [(ngModel)]="tts_text"></ion-textarea>
    </ion-item>

    <ion-item text-wrap [hidden]="sentences.length < 1" (click)="gotoSentencePage()">
      <div *ngFor="let item of sentences">
        - <span [innerHTML]="item"></span>
      </div>
      <ion-note item-right>
        <ion-icon name="arrow-dropright-circle"></ion-icon>
      </ion-note>
    </ion-item>

    <div *ngFor="let item of items; let i = index;">

      <ion-item [style.background-color]="getStyleSelecting(i)">
        <ion-note item-left (click)="onclick_toggleBookmark(item)"
                  class="item-number"
                  [hidden]="item.isBookmarked">{{ i + 1 }}</ion-note>
        <ion-note item-left (click)="onclick_toggleBookmark(item)"
                  class="item-number"
                  [hidden]="!item.isBookmarked">
          <ion-icon color="bookmarked" name="heart"></ion-icon>
        </ion-note>
        <ion-icon item-left name="pulse" class="icon-natural-tts"
                  (click)="onclick_word(i, item, true)"></ion-icon>
        <ion-label (click)="onclick_word_detail(item)">
          {{ item.word }}
          <span class="italic ipa" [hidden]="!isIPA_display">{{ item.ipa[setting.locale] }}</span>
        </ion-label>
        <span item-right class="italic word-type" (click)="onclick_word_detail(item)">{{ item.typeLabel }}</span>
        <ion-icon item-right name="volume-up" class="icon-word-detail" (click)="onclick_word(i, item)"></ion-icon>
      </ion-item>

      <ion-item [hidden]="!isDualTranscript || !item.ipa[locale_inverse]" class="second-item" [style.background-color]="getStyleSelecting(i)">
        <ion-note item-left class="italic" (click)="onclick_word_inverse(i, item, true)">
          {{ locale_inverse }}
        </ion-note>
        <ion-label (click)="onclick_word_inverse(i, item)" class="italic ipa2">{{ item.ipa[locale_inverse] }}</ion-label>
      </ion-item>

    </div>

    <button ion-button full color="light" outline [hidden]="loadMoreStatus[1] == SHOW_LOAD_MORE_NO" (click)="loadWordList(true)">
      <ion-icon color="blacklight" name="arrow-down"></ion-icon>
    </button>

  </ion-list>

  <ion-fab center bottom>
    <button ion-fab mini class="btn-tts"
            [class.active]="isTTS_visible" (click)="onclick_toggleTTS()">
      <ion-icon color="favorite" name="volume-up"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
